{% extends "base.html" %}
{% block title %}my index page {% endblock %}
{% block header %}Welcome to safari mid clas{% endblock %}
{% block content %}
    IMAGES
{% load static %}
<img src="{% static 'images/meme.jpeg' %}" alt="" width="300" height="300">
<img src="{% static 'images/meme2.jpeg' %}" alt="" width="300" height="300">
<img src="{% static 'images/meme3.jpeg' %}" alt="" width="300" height="300">
<img src="{% static 'images/meme4.jpeg' %}" alt="" width="300" height="300">
<img src="{% static 'images/meme5.jpeg' %}" alt="" width="300" height="300">
<img src="{% static 'images/meme6.jpeg' %}" alt="" width="300" height="300">
<img src="{% static 'images/meme7.jpeg' %}" alt="" width="300" height="300">
<img src="{% static 'images/meme8.jpeg' %}" alt="" width="300" height="300">
<img src="{% static 'images/meme9.jpeg' %}" alt="" width="300" height="300">
{% endblock %}
